<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.van.mapper.AcceptMapper">
  <resultMap id="BaseResultMap" type="com.van.pojo.Accept">
    <id column="apt_id" jdbcType="VARCHAR" property="cptId" />
    <result column="apt_name" jdbcType="VARCHAR" property="cptName" />
    <result column="apt_sex" jdbcType="BIT" property="cptSex" />
    <result column="apt_addr" jdbcType="VARCHAR" property="cptAddr" />
    <result column="apt_phone" jdbcType="VARCHAR" property="cptPhone" />
  </resultMap>

  <sql id="Base_Column_List">
    apt_id, apt_name, apt_sex, apt_addr, apt_phone
  </sql>
  <select id="selectByExample"  resultMap="BaseResultMap">

  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">

  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from accept
    where apt_id = #{aptId,jdbcType=VARCHAR}
  </delete>

  <delete id="deleteByExample" >
    delete from accept

  </delete>

  <insert id="insert" parameterType="com.van.pojo.Accept">
    insert into accept (apt_id, apt_name, apt_sex, apt_addr, apt_phone)
    values (#{aptId,jdbcType=VARCHAR}, #{aptName,jdbcType=VARCHAR}, #{aptSex,jdbcType=BIT}, 
      #{aptAddr,jdbcType=VARCHAR}, #{aptPhone,jdbcType=VARCHAR})
  </insert>

  <insert id="insertSelective" parameterType="com.van.pojo.Accept">
    insert into accept

  </insert>

  <select id="countByExample"  resultType="java.lang.Long">
    select count(*) from accept

  </select>

  <update id="updateByExampleSelective" parameterType="map">
    update accept

  </update>
  <update id="updateByExample" parameterType="map">
    update accept
    set apt_id = #{record.aptId,jdbcType=VARCHAR},
      apt_name = #{record.aptName,jdbcType=VARCHAR},
      apt_sex = #{record.aptSex,jdbcType=BIT},
      apt_addr = #{record.aptAddr,jdbcType=VARCHAR},
      apt_phone = #{record.aptPhone,jdbcType=VARCHAR}

  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.van.pojo.Accept">
    update accept
    where apt_id = #{aptId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.van.pojo.Accept">
    update accept
    set apt_name = #{aptName,jdbcType=VARCHAR},
      apt_sex = #{aptSex,jdbcType=BIT},
      apt_addr = #{aptAddr,jdbcType=VARCHAR},
      apt_phone = #{aptPhone,jdbcType=VARCHAR}
    where apt_id = #{aptId,jdbcType=VARCHAR}
  </update>
</mapper>