<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.van.mapper.AdminMapper">
    <select id="loginAdmin" resultType="com.van.pojo.Admin" parameterType="com.van.pojo.Admin">
      select * from admin where adm_id =#{admId} and adm_pwd = #{admPwd}
    </select>
</mapper>
