<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.van.mapper.DeliveryMapper">
  <resultMap id="BaseResultMap" type="com.van.pojo.Delivery">
    <id column="ps_id" jdbcType="VARCHAR" property="psId" />
    <result column="apt_id" jdbcType="VARCHAR" property="aptId" />
    <result column="st_id" jdbcType="VARCHAR" property="stId" />
    <result column="ck_id" jdbcType="VARCHAR" property="ckId" />
    <result column="ps_picktime" jdbcType="TIMESTAMP" property="psPicktime" />
    <result column="ps_delitime" jdbcType="TIMESTAMP" property="psDelitime" />
    <result column="ps_type" jdbcType="VARCHAR" property="psType" />
    <result column="ps_name" jdbcType="VARCHAR" property="psName" />
  </resultMap>

  <sql id="Base_Column_List">
    ps_id, apt_id, st_id, ck_id, ps_picktime, ps_delitime, ps_type, ps_name
  </sql>

  <select id="selectByExample"  resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from delivery
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from delivery
    where ps_id = #{psId,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from delivery
    where ps_id = #{psId,jdbcType=VARCHAR}
  </delete>

  <delete id="deleteByExample" >
    delete from delivery
  </delete>

  <insert id="insert" parameterType="com.van.pojo.Delivery">
    insert into delivery (ps_id, apt_id, st_id, ck_id, ps_picktime, ps_delitime, ps_type, ps_name)
    values (#{psId,jdbcType=VARCHAR}, #{aptId,jdbcType=VARCHAR}, #{stId,jdbcType=VARCHAR}, 
      #{ckId,jdbcType=VARCHAR}, #{psPicktime,jdbcType=TIMESTAMP}, #{psDelitime,jdbcType=TIMESTAMP}, 
      #{psType,jdbcType=VARCHAR}, #{psName,jdbcType=VARCHAR})
  </insert>

  <insert id="insertSelective" parameterType="com.van.pojo.Delivery">
    insert into delivery
  </insert>

  <select id="countByExample"  resultType="java.lang.Long">
    select count(*) from delivery
  </select>

  <update id="updateByExampleSelective" parameterType="map">
    update delivery
  </update>

  <update id="updateByExample" parameterType="map">
    update delivery
    set ps_id = #{record.psId,jdbcType=VARCHAR},
      apt_id = #{record.aptId,jdbcType=VARCHAR},
      st_id = #{record.stId,jdbcType=VARCHAR},
      ck_id = #{record.ckId,jdbcType=VARCHAR},
      ps_picktime = #{record.psPicktime,jdbcType=TIMESTAMP},
      ps_delitime = #{record.psDelitime,jdbcType=TIMESTAMP},
      ps_type = #{record.psType,jdbcType=VARCHAR},
      ps_name = #{record.psName,jdbcType=VARCHAR}
  </update>

  <update id="updateByPrimaryKeySelective" parameterType="com.van.pojo.Delivery">
    update delivery
    where ps_id = #{psId,jdbcType=VARCHAR}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.van.pojo.Delivery">
    update delivery
    set apt_id = #{aptId,jdbcType=VARCHAR},
      st_id = #{stId,jdbcType=VARCHAR},
      ck_id = #{ckId,jdbcType=VARCHAR},
      ps_picktime = #{psPicktime,jdbcType=TIMESTAMP},
      ps_delitime = #{psDelitime,jdbcType=TIMESTAMP},
      ps_type = #{psType,jdbcType=VARCHAR},
      ps_name = #{psName,jdbcType=VARCHAR}
    where ps_id = #{psId,jdbcType=VARCHAR}
  </update>
</mapper>