<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.van.mapper.GoodsMapper">
  <resultMap id="BaseResultMap" type="com.van.pojo.Goods">
    <id column="g_id" jdbcType="VARCHAR" property="gId" />
    <result column="g_name" jdbcType="VARCHAR" property="gName" />
    <result column="g_kind" jdbcType="VARCHAR" property="gKind" />
    <result column="g_weight" jdbcType="VARCHAR" property="gWeight" />
  </resultMap>

  <select id="selectByExample" resultMap="BaseResultMap">
    select
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    from goods
    where g_id = #{gId,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from goods
    where g_id = #{gId,jdbcType=VARCHAR}
  </delete>

  <delete id="deleteByExample" >
    delete from goods
  </delete>

  <insert id="insert" parameterType="com.van.pojo.Goods">
    insert into goods (g_id, g_name, g_kind, 
      g_weight)
    values (#{gId,jdbcType=VARCHAR}, #{gName,jdbcType=VARCHAR}, #{gKind,jdbcType=VARCHAR}, 
      #{gWeight,jdbcType=VARCHAR})
  </insert>

  <insert id="insertSelective" parameterType="com.van.pojo.Goods">
    insert into goods
  </insert>

  <select id="countByExample" resultType="java.lang.Long">
    select count(*) from goods
  </select>

  <update id="updateByExampleSelective" parameterType="map">
    update goods
  </update>

  <update id="updateByExample" parameterType="map">
    update goods
    set g_id = #{record.gId,jdbcType=VARCHAR},
      g_name = #{record.gName,jdbcType=VARCHAR},
      g_kind = #{record.gKind,jdbcType=VARCHAR},
      g_weight = #{record.gWeight,jdbcType=VARCHAR}
  </update>

  <update id="updateByPrimaryKeySelective" parameterType="com.van.pojo.Goods">
    update goods
    where g_id = #{gId,jdbcType=VARCHAR}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.van.pojo.Goods">
    update goods
    set g_name = #{gName,jdbcType=VARCHAR},
      g_kind = #{gKind,jdbcType=VARCHAR},
      g_weight = #{gWeight,jdbcType=VARCHAR}
    where g_id = #{gId,jdbcType=VARCHAR}
  </update>
</mapper>