<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.van.mapper.StaffMapper">
  <resultMap id="BaseResultMap" type="com.van.pojo.Staff">
    <id column="st_id" jdbcType="VARCHAR" property="stId" />
    <result column="st_name" jdbcType="VARCHAR" property="stName" />
    <result column="st_sex" jdbcType="BIT" property="stSex" />
    <result column="st_age" jdbcType="TINYINT" property="stAge" />
    <result column="st_phone" jdbcType="VARCHAR" property="stPhone" />
  </resultMap>

  <sql id="Base_Column_List">
    st_id, st_name, st_sex, st_age, st_phone
  </sql>

  <select id="selectByExample"  resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from staff
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from staff
    where st_id = #{stId,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from staff
    where st_id = #{stId,jdbcType=VARCHAR}
  </delete>

  <delete id="deleteByExample" >
    delete from staff
  </delete>

  <insert id="insert" parameterType="com.van.pojo.Staff">
    insert into staff (st_id, st_name, st_sex, 
      st_age, st_phone)
    values (#{stId,jdbcType=VARCHAR}, #{stName,jdbcType=VARCHAR}, #{stSex,jdbcType=BIT}, 
      #{stAge,jdbcType=TINYINT}, #{stPhone,jdbcType=VARCHAR})
  </insert>

  <insert id="insertSelective" parameterType="com.van.pojo.Staff">
    insert into staff
  </insert>

  <select id="countByExample"  resultType="java.lang.Long">
    select count(*) from staff
  </select>

  <update id="updateByExampleSelective" parameterType="map">
    update staff
  </update>

  <update id="updateByExample" parameterType="map">
    update staff
    set st_id = #{record.stId,jdbcType=VARCHAR},
      st_name = #{record.stName,jdbcType=VARCHAR},
      st_sex = #{record.stSex,jdbcType=BIT},
      st_age = #{record.stAge,jdbcType=TINYINT},
      st_phone = #{record.stPhone,jdbcType=VARCHAR}
  </update>

  <update id="updateByPrimaryKeySelective" parameterType="com.van.pojo.Staff">
    update staff
    where st_id = #{stId,jdbcType=VARCHAR}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.van.pojo.Staff">
    update staff
    set st_name = #{stName,jdbcType=VARCHAR},
      st_sex = #{stSex,jdbcType=BIT},
      st_age = #{stAge,jdbcType=TINYINT},
      st_phone = #{stPhone,jdbcType=VARCHAR}
    where st_id = #{stId,jdbcType=VARCHAR}
  </update>
</mapper>