<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.van.mapper.StoreMapper">
  <resultMap id="BaseResultMap" type="com.van.pojo.Store">
    <id column="s_id" jdbcType="VARCHAR" property="sId" />
    <result column="s_time" jdbcType="TIMESTAMP" property="sTime" />
    <result column="s_outime" jdbcType="TIMESTAMP" property="sOutime" />
    <result column="s_count" jdbcType="VARCHAR" property="sCount" />
    <result column="s_outcount" jdbcType="VARCHAR" property="sOutcount" />
    <result column="st_id" jdbcType="VARCHAR" property="stId" />
    <result column="ck_id" jdbcType="VARCHAR" property="ckId" />
    <result column="g_id" jdbcType="VARCHAR" property="gId" />
  </resultMap>

  <!--字段-->
  <sql id="Base_Column_List">
    s_id,s_time,s_outime,s_count,s_outcount,st_id,ck_id,g_id
  </sql>

  <!--删除-->
  <delete id="delStore" parameterType="string">
    delete from store
    <where>
      <if test="sId!=null and sId!=''">
        and s_id=#{sId}
      </if>
    </where>
  </delete>


  <!--分页查询储存信息-->
  <select id="findAllstore" resultMap="BaseResultMap" parameterType="com.van.page.Page">
    select s_id, s_time, s_outime, s_count, s_outcount, st_id, ck_id, g_id from store
    order by s_id
    limit #{start},#{rows}
  </select>

  <!--查询总记录数-->
  <select id="findtotal" resultType="java.lang.Integer" parameterType="com.van.page.Page">
    select count(s_id) from store
    <where>
      <if test="sId!=null and sId!=''">
        and s_id=#{sId}
      </if>
    </where>
  </select>


</mapper>