<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.van.mapper.StoreMapper">
  <resultMap id="BaseResultMap" type="com.van.pojo.Store">
    <id column="s_id" jdbcType="VARCHAR" property="sId" />
    <result column="s_time" jdbcType="TIMESTAMP" property="sTime" />
    <result column="s_outime" jdbcType="TIMESTAMP" property="sOutime" />
    <result column="s_count" jdbcType="VARCHAR" property="sCount" />
    <result column="s_outcount" jdbcType="VARCHAR" property="sOutcount" />
    <result column="st_id" jdbcType="VARCHAR" property="stId" />
    <result column="ck_id" jdbcType="VARCHAR" property="ckId" />
    <result column="g_id" jdbcType="VARCHAR" property="gId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    s_id, s_time, s_outime, s_count, s_outcount, st_id, ck_id, g_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from store
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from store
    where s_id = #{sId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from store
    where s_id = #{sId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" >
    delete from store
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.van.pojo.Store">
    insert into store (s_id, s_time, s_outime, 
      s_count, s_outcount, st_id, 
      ck_id, g_id)
    values (#{sId,jdbcType=VARCHAR}, #{sTime,jdbcType=TIMESTAMP}, #{sOutime,jdbcType=TIMESTAMP}, 
      #{sCount,jdbcType=VARCHAR}, #{sOutcount,jdbcType=VARCHAR}, #{stId,jdbcType=VARCHAR}, 
      #{ckId,jdbcType=VARCHAR}, #{gId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.van.pojo.Store">
    insert into store
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sId != null">
        s_id,
      </if>
      <if test="sTime != null">
        s_time,
      </if>
      <if test="sOutime != null">
        s_outime,
      </if>
      <if test="sCount != null">
        s_count,
      </if>
      <if test="sOutcount != null">
        s_outcount,
      </if>
      <if test="stId != null">
        st_id,
      </if>
      <if test="ckId != null">
        ck_id,
      </if>
      <if test="gId != null">
        g_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sId != null">
        #{sId,jdbcType=VARCHAR},
      </if>
      <if test="sTime != null">
        #{sTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sOutime != null">
        #{sOutime,jdbcType=TIMESTAMP},
      </if>
      <if test="sCount != null">
        #{sCount,jdbcType=VARCHAR},
      </if>
      <if test="sOutcount != null">
        #{sOutcount,jdbcType=VARCHAR},
      </if>
      <if test="stId != null">
        #{stId,jdbcType=VARCHAR},
      </if>
      <if test="ckId != null">
        #{ckId,jdbcType=VARCHAR},
      </if>
      <if test="gId != null">
        #{gId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample"  resultType="java.lang.Long">
    select count(*) from store
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update store
    <set>
      <if test="record.sId != null">
        s_id = #{record.sId,jdbcType=VARCHAR},
      </if>
      <if test="record.sTime != null">
        s_time = #{record.sTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.sOutime != null">
        s_outime = #{record.sOutime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.sCount != null">
        s_count = #{record.sCount,jdbcType=VARCHAR},
      </if>
      <if test="record.sOutcount != null">
        s_outcount = #{record.sOutcount,jdbcType=VARCHAR},
      </if>
      <if test="record.stId != null">
        st_id = #{record.stId,jdbcType=VARCHAR},
      </if>
      <if test="record.ckId != null">
        ck_id = #{record.ckId,jdbcType=VARCHAR},
      </if>
      <if test="record.gId != null">
        g_id = #{record.gId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update store
    set s_id = #{record.sId,jdbcType=VARCHAR},
      s_time = #{record.sTime,jdbcType=TIMESTAMP},
      s_outime = #{record.sOutime,jdbcType=TIMESTAMP},
      s_count = #{record.sCount,jdbcType=VARCHAR},
      s_outcount = #{record.sOutcount,jdbcType=VARCHAR},
      st_id = #{record.stId,jdbcType=VARCHAR},
      ck_id = #{record.ckId,jdbcType=VARCHAR},
      g_id = #{record.gId,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.van.pojo.Store">
    update store
    <set>
      <if test="sTime != null">
        s_time = #{sTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sOutime != null">
        s_outime = #{sOutime,jdbcType=TIMESTAMP},
      </if>
      <if test="sCount != null">
        s_count = #{sCount,jdbcType=VARCHAR},
      </if>
      <if test="sOutcount != null">
        s_outcount = #{sOutcount,jdbcType=VARCHAR},
      </if>
      <if test="stId != null">
        st_id = #{stId,jdbcType=VARCHAR},
      </if>
      <if test="ckId != null">
        ck_id = #{ckId,jdbcType=VARCHAR},
      </if>
      <if test="gId != null">
        g_id = #{gId,jdbcType=VARCHAR},
      </if>
    </set>
    where s_id = #{sId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.van.pojo.Store">
    update store
    set s_time = #{sTime,jdbcType=TIMESTAMP},
      s_outime = #{sOutime,jdbcType=TIMESTAMP},
      s_count = #{sCount,jdbcType=VARCHAR},
      s_outcount = #{sOutcount,jdbcType=VARCHAR},
      st_id = #{stId,jdbcType=VARCHAR},
      ck_id = #{ckId,jdbcType=VARCHAR},
      g_id = #{gId,jdbcType=VARCHAR}
    where s_id = #{sId,jdbcType=VARCHAR}
  </update>
</mapper>