<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.van.mapper.StoreMapper">
  <resultMap id="BaseResultMap" type="com.van.pojo.Store">
    <id column="s_id" jdbcType="VARCHAR" property="sId" />
    <result column="s_time" jdbcType="TIMESTAMP" property="sTime" />
    <result column="s_outime" jdbcType="TIMESTAMP" property="sOutime" />
    <result column="s_count" jdbcType="VARCHAR" property="sCount" />
    <result column="s_outcount" jdbcType="VARCHAR" property="sOutcount" />
    <result column="st_id" jdbcType="VARCHAR" property="stId" />
    <result column="ck_id" jdbcType="VARCHAR" property="ckId" />
    <result column="g_id" jdbcType="VARCHAR" property="gId" />
  </resultMap>
  <select id="findAllstore" resultType="com.van.pojo.Store">
    select * from store
  </select>


</mapper>