<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.van.mapper.UsersMapper">
  <resultMap id="BaseResultMap" type="com.van.pojo.Users">
    <id column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_sex" jdbcType="BIT" property="userSex" />
    <result column="user_phone" jdbcType="VARCHAR" property="userPhone" />
    <result column="user_addr" jdbcType="VARCHAR" property="userAddr" />
  </resultMap>

  <!--用户 的所有字段-->
  <sql id="Base_Column_List">
    user_id, user_name, user_sex, user_phone, user_addr
  </sql>

  <!--查询全部用户-->
  <select id="selectByExample" parameterType="com.van.page.Page" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from users
  </select>

  <!--分页查询内容-->
  <select id="queryPageUser" resultMap="BaseResultMap" parameterType="com.van.page.Page">
    select
           user_id, user_name,
           case user_sex when '1' then '男' when '0' then '女' end as user_sex,
           user_phone, user_addr


    from users

    order by user_id

    limit #{start},#{rows}


  </select>

  <!-- 通过条件分页查询，返回总记录数 -->
  <select id="queryPageCount" resultType="integer" parameterType="com.van.page.Page">
    select count(user_id) from users

    <where>
      <if test="userId!=null and userId!=''">
        and user_id = #{userId}
      </if>
    </where>
  </select>


  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from users
    where user_id = #{userId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from users
    where user_id = #{userId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" >

  </delete>


  <!--根据用户id删除用户-->
  <delete id="delUsersById" parameterType="string">
      delete from users
      <where>
        <if test="userId != null and userId != ''">
          and user_id = #{userId}
        </if>
      </where>
  </delete>

  <insert id="insert" parameterType="com.van.pojo.Users">
    insert into users (user_id, user_name, user_sex, 
      user_phone, user_addr)
    values (#{userId,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{userSex,jdbcType=BIT}, 
      #{userPhone,jdbcType=VARCHAR}, #{userAddr,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.van.pojo.Users">

  </insert>
  <select id="countByExample"  resultType="java.lang.Long">
    select count(*) from users
  </select>
  <update id="updateByExampleSelective" parameterType="map">

  </update>
  <update id="updateByExample" parameterType="map">
    update users
    set user_id = #{record.userId,jdbcType=VARCHAR},
      user_name = #{record.userName,jdbcType=VARCHAR},
      user_sex = #{record.userSex,jdbcType=BIT},
      user_phone = #{record.userPhone,jdbcType=VARCHAR},
      user_addr = #{record.userAddr,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.van.pojo.Users">

  </update>
  <update id="updateByPrimaryKey" parameterType="com.van.pojo.Users">
    update users
    set user_name = #{userName,jdbcType=VARCHAR},
      user_sex = #{userSex,jdbcType=BIT},
      user_phone = #{userPhone,jdbcType=VARCHAR},
      user_addr = #{userAddr,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>
</mapper>