<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.van.mapper.WarehouseMapper">
  <resultMap id="BaseResultMap" type="com.van.pojo.Warehouse">
    <id column="ck_id" jdbcType="VARCHAR" property="ckId" />
    <result column="ck_name" jdbcType="VARCHAR" property="ckName" />
    <result column="ck_size" jdbcType="VARCHAR" property="ckSize" />
  </resultMap>

  <!--添加仓库-->
  <insert id="addWare" parameterType="com.van.pojo.Warehouse">
    insert into warehouse(ck_id, ck_name, ck_size) value(#{ckId},#{ckName},#{ckSize})
  </insert>

  <!--修改-->
  <update id="updWare" parameterType="com.van.pojo.Warehouse">
    update warehouse set ck_name=#{ckName},ck_size=#{ckSize} where ck_id=#{ckId}
  </update>

  <delete id="delWare" parameterType="string">
    delete from warehouse
    <where>
      <if test="ckId!=null and ckId!=''">
        and ck_id=#{ckId}
      </if>
    </where>
  </delete>

  <select id="findAllWarehouse" resultMap="BaseResultMap" parameterType="com.van.page.Page">
      select ck_id, ck_name, ck_size from warehouse
      order by ck_id
      limit #{start},#{rows}
    </select>

  <select id="findtotal" resultType="java.lang.Integer" parameterType="com.van.page.Page">
    select count(ck_id) from warehouse
    <where>
      <if test="ckId!=null and ckId!=''">
        and ck_id=#{ckId}
      </if>
    </where>
  </select>


</mapper>